{% extends 'base.html' %}

{% block title %}بخش درخواست‌های شغلی{% endblock %}

{% block extra_css %}
<style>
    .btn {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 0;
        background-color: #f1c40f;
        color: #001f3f;
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #d4ac0d;
    }
</style>
{% endblock %}

{% block content %}
<h1 class="page-title">بخش JobRequest</h1>

<p>
    <a href="{% url 'jobrequest:request_list' %}" class="btn">مشاهده لیست تمام درخواست‌های شغلی</a>
</p>

<p>
    <a href="{% url 'jobrequest:create_request' %}" class="btn">ثبت درخواست جدید</a>
</p>
{% endblock %}
